@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";



:root {
  --color-primary: #2563eb;       /* Primary blue */
  --color-primary-light: #eff6ff;  /* Lighter variant for hover/background */
  --color-secondary: #ffffff;   

     /* Modern white */
  --font-poppins: 'Poppins', sans-serif;
}
